body{
    display: flex;
    background-color: #E9F1FA;
    
}
h2{
 font-family: 'Libertinus Mono';
 font-size: 2em;
 color: aliceblue;
}

p{
    font-family: 'Monserrat';
    font-size: 1.5em;
    color: aliceblue;
}



a{
    text-decoration: none;
}


.contenedor-principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #E9F1FA;
    padding: 3em;
    margin-top: -2em;
}
.primer-contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: #00ABE4;
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 2em;
}
.primer-contenedor img{
    width: 25em;
    transition: transform 0.6s ease;
}
.primer-contenedor img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
.primer-contenedor h1{
    font-family: 'anzicar serif';
    font-size: 3em;
    color: #E9F1FA;
}


.segundo-contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30em;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: #07374a;
    border-radius: 10px;
    margin-bottom: 2em;
}
.segundo-contenedor h1{
    font-family: 'roboto condensed';
    color: #00ABE4;
    font-size: 3em;
    
}

.skills{
    background-color: #0490c4;
    border-radius: 10px;
    height: 50vh;
    padding: 1em;
    
    }

.skills h1{
    font-family: 'anzicar serif';
    font-size: 3em;
    color: #E9F1FA; 

    align-items: center;
}

.skills-bar{
    padding: 25px 30px;
}
.skills-bar .bar{
    margin: 35px 0;
}

.skills-bar .bar .info span{
  font-size: 1rem;
  font-weight: 900;
}

.skills-bar .bar .info{
    margin-bottom: 8px;
    color: #07374a;
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 550px;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line span{
    position: absolute;
    background: #ffbb00;
    height: 100%;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    text-transform: uppercase;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.progress-line .html{
    width: 60%;
}
.progress-line .css{
    width: 50%;
}
.progress-line .c{
    width: 70%;
}
.progress-line .python{
    width: 60%;
}

.bar .progress-line span::before{
    position: absolute;
    content: "";
    height: 0;
    right: 0;
    top: -14px;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-style: #f0f0f0 ;
    border-top-color: #07374a;
}

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -28px;
    color: #f0f0f0;
    font-size: 12px;
    font-weight: 700;
    background: #504f4c;
    padding: 1px 8px;
    border-radius: 3px;
}

.progress-line .html::after{
    content: "60%";
}

.progress-line .css::after{
    content: "50%";
}

.progress-line .c::after{
    content: "70%";
}

.progress-line .python::after{
    content: "60%";
}

.tercer-contenedor{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30em;
    justify-content: center;
    align-items: center;
    background-color: #034964;
    padding: 2em;
    border-radius: 10px;
    
}



